* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    list-style: none;
    border: none;
}

.background {
    background-image: url(img/banner-medico-com-medico-usando-oculos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 100%;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
    align-items: center;
    align-items: center;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    position: fixed;
    transition: all .35s ease;
    background-color: #fff;
    padding: 14px 14%;
}

.logo {
    font-weight: 500;
    font-size: 1rem;
}

.cabecalho-link {
    display: flex;
    gap: 3rem;
}

.cabecalho-link a {
    color: #111;
    font-weight: 700;
    transition: 0.3s;
}

.cabecalho-link a:hover {

    color: #c8815f;
}

.icon span {
    font-size: 2rem;
    cursor: pointer;
}

.icon span:hover {
    color: #c8815f;
}

.Meio {
    padding: 7rem 0 0 8.5rem;
    line-height: 4rem;
    color: #fff;
}

.Meio h1 {
    font-size: 4rem;
    color: #fff;
}

.Meio button {
    background-color: #c8815f;
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.Meio button:hover {
    background-color: #111;
    transform: scaleY(1.2);
}

section {
    padding-top: 7rem;
}

section h1 {
    align-items: center;
    text-align: center;
    font-size: 2rem;
}

.container-card-1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 2rem;
}

.cards img {
    width: 450px;
    height: auto;
    transition: 0.35s ease;
}

.cards img:hover {
    transform: scale(0.9) translateY(5px);
    cursor: pointer;
}

.cta {
    background: url(img/banner-medico-com-medico-usando-oculos.jpg);
    background-position: center;
    background-size: cover;
    height: 60vh;
    width: 100%;
    align-items: center;
    margin-top: 5rem;
}

.text-cta {
    padding-left: 5rem;

}

.text-cta h6 {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 14px;
    color: #111;

}

.text-cta h4 {
    font-size: 3.3rem;
    line-height: 1.2;
    margin-bottom: 30px;
    color: #fff;
}

.text-cta a {
    background-color: #c8815f;
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transform: scaleY(1.2);
}

.btn {
    background-color: #c8815f;
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.btn a:hover {
    background-color: #111;
    transform: scaleY(1.2);
}

.Contato {
    display: flex;
    gap: 5rem;
    justify-content: space-around;
    background-color: #111;
    padding: 8rem;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
}

.meio-contato h3 {
    color: #fff;
    font-size: 23px;
    margin-bottom: 1.6rem;
}

.meio-contato h5 {
    font-size: 15px;
    font-weight: 600;
    color: #555;
}

.meio-contato li a {
    display: block;
    color: #555;
    font-weight: 600;
    transition: 0.35s ease;
}

.Last-text {
    text-align: center;
    background-color: #111;
    color: #fff;
}